/*
    author: Daniel Vigny-Pau 40034769
*/

body {
    
	background-color: #deeaee;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

td {
    font-size: 14px;
    font-family: Arial;
}

th {
    font-family: Arial;
}

tr {
    margin: 16px;
}

.sub {
    color: #404040;
    font-size: 12px;   
}

.newButton {
    background-color:  #78a9ba;
    border-color: #78a9ba;
    color: white;
    padding: 8px;
    border-radius: 4px;
    width: 200px;
}

.centeredButton{
    width: 250px;
    background-color:  #78a9ba;
    color: white;
    padding: 8px;
    border-radius: 4px;
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.returnButton {
    width: 250px;
    background-color:  #78a9ba;
    color: white;
    padding: 8px;
    margin-top: 28px;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
}

.newText {
    padding: 8px;
    border-radius: 4px;
    margin-right: 8px;
}

.bigBox {
    max-width: 800px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    border: solid 2px #737373;
    background-color: white;
    padding-top: 14px;
    padding-bottom: 28px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 5px 5px #457687;
}

.smallBox {
    max-width: 400px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    border: solid 2px #737373;
    background-color: white;
    padding-top: 14px;
    padding-bottom: 28px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 5px 5px #457687;
}

.currentInfo {
    font-weight: bold;
    color: #404040;
    padding-top: 16px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}